 <!-- 貼文內頁-->
 <!DOCTYPE html>
 <html lang="en">
 <head>
 <meta charset="utf-8">
 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pet伴，陪伴</title>  <!-- 改 （主題名）-->
 


<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/stylesheets/assets/bootstrap.min.css" >
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- Custom styles for this template -->
<link rel="stylesheet" href="/stylesheets/assets/mediumish.css" >
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/css/templatemo-style.css">
<!-- 下拉選單外掛 -->
<style>
    .dropdown:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
        background-color: #DBC89B;
    }
    .dropdown-item{
        background-color: #DBC89B;
        color: #FFFEFB;
    }
    .collapse {
        color: #A88E4F;
    }

</style>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(function(){
            var dropdownMenu = $(this).children(".dropdown-menu");
            if(dropdownMenu.is(":visible")){
                dropdownMenu.parent().toggleClass("open");
            }
        });
    });     
    </script>

</head>
 <!-- navbar-->
 <%- include('navbar/navbar.ejs') %>

 <!-- navbar end -->
<body>


</nav>
<!-- End Nav
================================================== -->

<!-- Begin Article
================================================== -->
<div class="container">
	<div class="row">

	<form method="post"  encType="multipart/form-data">
		<!-- Begin Post -->
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="mainheading">

				<!-- Begin Top Meta -->
				<div class="row post-top-meta">
					<div class="col-md-2">
						<a href="author"><img class="author-thumb" src=/img/demopic/user.jpg alt="Sal"></a>
					</div>
					<div class="col-md-10">
						<a class="link-dark" href="author"><%= model[0].email %></a><a href="#" class="btn follow">Follow</a>
						<br>
						<span class="post-date"><%= model[0].updatedate %></span>
				</div>
				<!-- End Top Menta -->
				<% if(can_edit){ %>
				<label for="edit_title">修改標題:</label>
				<input type="text" name="edit_title" id="edit_title" value="<%= model[0].title %>" >
				<% }else{ %>
					<input type="text" name="edit_title" id="edit_title" value="<%= model[0].title %>" readonly class="form-control-plaintext">	
				<%} %>
			</div>

			<!-- Begin Featured Image -->
			<% if(can_edit){ %>
			<div>
				<label for="">修改圖片</label><br>
				<input type="file" name="photo">
			</div>
			<img class="featured-image img-fluid" src="/photo/<%= model[0].photo %>" alt="">
			<!-- End Featured Image -->
			<% }else{ %>
			<img class="featured-image img-fluid" src="/photo/<%= model[0].photo %>" alt="">
			<%} %>
			<!-- Begin Post Content -->
			<% if(can_edit){ %>
			<div class="article-post">
				<label for="edit_content">修改內文:</label>
				<textarea name="edit_content" id="edit_content" cols="100" rows="10"ß class="form-control-plaintext"><%= model[0].content %></textarea>
				<input type="submit" value="修改" onclick="return checkIsEdit()">
			</div>
			<% }else{ %>
				<div class="article-post">
					<textarea name="edit_content" id="edit_content" cols="100" rows="10" readonly class="form-control-plaintext"><%= model[0].content %></textarea>
				</div>
			<%} %>
		</div>
		<!-- End Post -->
	</form>
<!-- End Article
================================================== -->
<div class="hideshare"></div>

<!-- Begin Related
================================================== -->
<div class="graybg">
	<div class="container">
		<div class="row listrecent listrelated">

			<!-- begin post -->
			<div class="col-md-4">
				<div class="card">
					<a href="＃">
					<img class="img-fluid img-thumb" src="assets/img/demopic/9.jpg" alt="">
					</a>
					<div class="card-block">
						<h2 class="card-title"><a href="post">回家馬上試看看</a></h2>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author"><img class="author-thumb" src=/img/demopic/user.jpg alt="Sal"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="author">Sal</a></span><br/>
								<span class="post-date">22 April 2023</span> </span><span class="post-read">  </span>
								</span>
								<span class="post-read-more"><a href=" post" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end post -->


			<!-- begin post -->
			<div class="col-md-4">
				<div class="card">
					<a href=" post">
					<img class="img-fluid img-thumb" src="assets/img/demopic/7.jpg" alt="">
					</a>
					<div class="card-block">
						<h2 class="card-title"><a href="post">感謝分享，下次我一定要試試！</a></h2>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author"><img class="author-thumb" src=/img/demopic/user.jpg alt="Sal"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="author">David</a></span><br/>
								<span class="post-date">25 March 2023</span> </span><span class="post-read">  </span>
								</span>
								<span class="post-read-more"><a href=" post" title="Read Story">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end post -->

		</div>
	</div>
</div>
<!-- End Related Posts
================================================== -->



<!-- Begin AlertBar
================================================== 
<div class="alertbar">
	<div class="container text-center">
		<img src="assets/img/logo.png" alt=""> &nbsp; Never miss a <b>story</b> from us, get weekly updates in your inbox. <a href="#" class="btn subscribe">Get Updates</a>
	</div>
</div>-->
<!-- End AlertBar
================================================== -->

<!-- Begin Footer-->
<div class="container">
	<div class="footer">
		<p class="pull-left">
            Designed by &copy; Pet伴，陪伴
		</p>
		
		<div class="clearfix">
		</div>
	</div>
</div>
<!-- End Footer -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="/javascript/js/plugins.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
     <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });

		function checkIsEdit(){
            if (confirm("確定是否要修改?")) {
                return true;
            }
            return false;
         }
    </script>
</body>
</html>
